<% if question.id %>
  <% class_name = 'edit-question' %>
<% else %>
  <% class_name = 'new-question' %>
<% end %>

<%= form_for question, :html => {class: class_name} do |f| %>

  <% if question.errors.any? %>
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this card from being saved:</h2>

    <ul>
      <% question.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id if current_user %>

  <h4>Question:</h4> <%= f.text_field :content, label: :content %><br>

  <h4>Categories:</h4> <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %><br>

  <%= f.fields_for :categories, category do |category| %>
    <h4>New Category:</h4> <%= category.text_field :name, label: :name %><br>
  <% end %>

  <%= f.submit "Submit", class: "btn btn-primary", id: "submit-question" %>
<% end %>
