<%= form_for question do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %><br>
  <p><%= f.label "Categories" %></p>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %><br>
  <%= f.submit %>
<% end %>
