<div class="back container-fluid">
  <%= link_to :back do %>
    Back
  <% end %>
</div>

<% if @user.id == current_user.id %>
  <h1>My Profile</h1>
<% else %>
  <h1><%= @user.username_or %></h1>
<% end %>

<p>
  Email: <%= @user.email %>
  <br></br>
  Member Since: <%= @user.formatted_date_time %>
</p>

<% if @user.id == current_user.id %>
  <%= button_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary", method: :get %>
<% end %>

<h2>Questions (<%= @user.question_count %>)</h2>
<% @questions.each do |question| %>
  <p><%= link_to question.content, question_path(question) %>, <%= question.formatted_date_time %></p>
<% end %>

<h2>Answers (<%= @user.solution_count %>)</h2>
<% @solutions.each do |solution| %>
  <p><%= link_to solution.question.content, question_path(solution.question) %>, <%= solution.formatted_date_time %></p>
<% end %>
