<div class="container-fluid">

  <%= link_to :back do %>
    <i class="ion-android-arrow-back"></i> Back
  <% end %>

  <h1 class="turquoise"><%= @category.name %></h1>
  <%= button_to "Ask a Question", new_question_path, class: "btn btn-primary", method: :get %><br />

  <% @questions.each do |question| %>
    <p><%= link_to question.content, question_path(question) %> <%= question.formatted_date %></p>
  <% end %>
</div>
