<%= form_for [question, solution] do |f| %>
  <% if solution.errors.any? %>
      <h2><%= pluralize(solution.errors.count, "error") %> prohibited this card from being saved:</h2>

    <ul>
      <% solution.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.hidden_field :contributor_id, value: current_user.id %>

  <%= f.hidden_field :question_id, value: params[:question_id] %>

  Answer <%= f.text_field :content, label: :content %><br>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
