<!DOCTYPE html>
<html>

  <head>
    <%= csrf_meta_tags %>
    <title>TRY THIS</title>
    <link rel="shortcut-icon" src>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <header>

      <%= render 'layouts/nav' %>

    </header>

    <h1 class="heading">Try This</h1>

    <div class="container-fluid text">

      <h2 class="error"><%= alert %></h2>

      <%= yield %>

    </div>



  </body>

</html>
